language: cpp
script: PREFIX=/usr/local PYTHONPATH=/usr/local/lib/python2.7/site-packages ./install.sh
compiler:
 - gcc
 - clang

#install: sudo pip install -r requirements.txt

before_install:
 - echo 'yes' | sudo add-apt-repository ppa:apokluda/boost1.53
 - sudo apt-get update -qq
# - sudo apt-get install -qq libboost1.53-all-dev libgsl0-dev libhdf5-serial-dev python-dev python-pip
 - sudo apt-get install -qq libboost1.53-all-dev libgsl0-dev libhdf5-serial-dev python-dev python-setuptools
 - sudo easy_install cython

notifications:
  webhooks:
    urls:
      - http://dev.e-cell.org/ecell-bot/travis/notification
