dist: trusty
sudo: false
language: cpp
matrix:
  include:
  - os: linux
    compiler: gcc
    language: python
    python: "2.7"
  - os: linux
    compiler: clang
    language: python
    python: "2.7"
  - os: linux
    compiler: gcc
    language: python
    python: "3.5"
  - os: linux
    compiler: clang
    language: python
    python: "3.5"
  - os: osx
    compiler: clang
    env: TRAVIS_PYTHON_VERSION="2.7"
  - os: osx
    compiler: clang
    env: TRAVIS_PYTHON_VERSION="3.5"

addons:
  apt:
    sources:
#    - sourceline: 'ppa:mc3man/trusty-media'
    - ubuntu-toolchain-r-test
    packages:
    - cmake
    - clang
    - libboost-dev
    - libgsl0-dev
    - libhdf5-serial-dev
    - python-dev
    - python3-dev
    - python3
    - python
    - wget
#    - ffmpeg

before_install:
- if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    brew update;
    brew install gsl ffmpeg;
    brew install homebrew/science/hdf5@1.8;
    brew list hdf5@1.8 | head -n 1 | sed 's/\(^.*\/hdf5\@1.8\/[^\/]*\).*/\1/';
    cp $(brew list hdf5@1.8 | head -n 1 | sed 's/\(^.*\/hdf5\@1.8\/[^\/]*\).*/\1/')/include/* /usr/local/include/ ;
    cp $(brew list hdf5@1.8 | head -n 1 | sed 's/\(^.*\/hdf5\@1.8\/[^\/]*\).*/\1/')/lib/* /usr/local/lib/ ;
    if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then
      brew install python3;
      which python3;
      python3 -V
      brew install freetype;
    fi;
  fi

- which python2
- python2 -V

- if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    mkdir ~/local;
    wget https://bootstrap.pypa.io/get-pip.py;
    python2 get-pip.py;
    python2 -m pip install -U cython numpy matplotlib jupyter;
  fi
- if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    curl -O https://bootstrap.pypa.io/get-pip.py;
    if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then
      python2 get-pip.py;
      python2 -m pip install -U cython numpy matplotlib jupyter;
    fi;
    if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then
      python3 get-pip.py;
      python3 -m pip install -U cython numpy matplotlib jupyter;
    fi;
  fi

script:
- set -ev
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    bash -c 'cmake -DCMAKE_INSTALL_PREFIX=~/local . && make && make test && make install';
    rm CMakeCache.txt;
  fi
- if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then
      sudo bash -c 'cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DPYTHON_EXECUTABLE:FILEPATH=python2 . && make && make test && make install';
    fi;
    if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then
      sudo bash -c 'cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DPYTHON_EXECUTABLE:FILEPATH=python3 . && make && make test && make install';
    fi;
    rm CMakeCache.txt;
  fi
- set +e

cache: false
notifications:
  webhooks:
    urls:
    - http://dev.e-cell.org/ecell-bot/travis/notification
  slack:
    secure: kCN8PCrinRfaDFKn93TMrYY5LberBt8GHDHOtSbR7B1Zmo9Pr/uHxxqoXlu1g9XYxgs2lud/AKo0gKMu8n+QHWeAXaOwe8GSccEqBdilXDVp4fzO96jT2R82RYljQ2wAR5ug1YIACRq06mtFn6U7GRZRnpRI4VsEUFLJPljZ+UM=
    slack: ecell-project:LvsPrINO4bNonZNTNw3IqMhV
