<html>
<head>
<script type="text/javascript">

function render(){
    console.log("Begin rendering...");
    var model = {{ model }};
    Elegans.Embed.parse("#vis",model).render();
}

before_render = function(){
    if(!(['d3', 'THREE', 'Elegans'].some(function(lib_name){
        if(window[lib_name] === undefined){
            console.log(lib_name + ' is not loaded.');
            setTimeout(before_render, 200);
	    return true;
        }
        return false;
    }))){
        render();
    };
};

before_render();

</script>
</head>
<body>
<div id="vis"></div>
</body>
</html>

<!--
 style="width:400px;height:500px;
-->
