<html>
  <head>
    <script type="text/javascript">
     //
     // templ variables: model_id, data
     // * model_id: uuid
     // * data: array of array of hash
     //    [
     //      [{df: {x: [0,1,2,..,4], y: [], z: []}, t: 0}, {}],
     //      [],[],[],...
     //    ]
     // * colors: array of string
     // * names: array of string
     // * options: hash
     //
     (function(){
       if(window["THREE"] === undefined || window["d3"] === undefined){
	 require.config({
	   paths:{
	     d3: [
	       'https://d3js.org/d3.v3.min',
	       'custom/d3.min'
	     ],
	     THREE: [
	       'https://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min',
	       'custom/three.min'
	     ],
         Elegans: [
           'https://cdn.rawgit.com/domitry/elegans/15e85b0dafdb6f09181c1ee2f0c47218f6fd698d/release/elegans.min',
	       'custom/elegans'
	     ]
	   },
	   shim:{
	     THREE: {
	       exports: 'THREE'
	     },
	     Elegans: {
	       deps: ['THREE'],
	       exports: 'Elegans'
	     }
	   }
	 });

	 require(["d3", "THREE"], function(d3){
	   window["d3"] = d3;
	 });
       }

       require(["Elegans"], function(){
	 console.log("Begin rendering...");
	 var stage = new Elegans.Stage(d3.select("#"+{{model_id}})[0][0], {{options}});
	 var data = {{data}};
	 var colors = {{colors}};
	 var names = {{names}};
	 var sizes = {{sizes}};

	 for(var i=0; i < data.length; i++){
	   Elegans.DataBase.add("database-particles"+String(i), data[i], "df", "t", 0)
	   stage.add(new Elegans.Particles("database-particles"+String(i), {
	     color: colors[i],
	     name: names[i],
	     size: sizes[i]
	   }));
	 }

	 stage.render();
       });
     })();
    </script>
  </head>
  <body>
    <div id={{model_id}}></div>
  </body>
</html>
