<html>
  <head>
    <script type="text/javascript">
     (function(){
       if(window["THREE"] === undefined || window["d3"] === undefined){
     require.config({
       paths:{
         d3: [
           'https://d3js.org/d3.v3.min',
           'custom/d3.min'
         ],
         THREE: [
           'https://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min',
           'custom/three.min'
         ],
         Nyaplot: [
           'https://rawgit.com/domitry/Nyaplotjs/master/release/nyaplot',
           'custom/nyaplot'
         ],
         svg2png: 'https://cdn.rawgit.com/domitry/svg2png/850731291ef598b201687ed5b1e215df248d8aeb/src/main'
       },
       shim:{
         THREE: {
           exports: 'THREE'
         },
         Nyaplot: {
           deps: ['THREE'],
           exports: 'Nyaplot'
         }
       }
     });

         require(["d3", "THREE"], function(d3){
           window["d3"] = d3;

           d3.select(document)
             .on("contextmenu", function(){
               d3.selectAll("canvas").style("z-index", 10);
               d3.selectAll(".download_menu").style("z-index", 100);
             });
         });
       }

       require(["svg2png", "Nyaplot"], function(util){
         console.log("Begin rendering...");
         var models = {{model}};
         Nyaplot.core.parse(models, '#{{model_id}}');

         var div = d3.select('#{{model_id}}');
         var svg = div.select('svg');

         if({{to_png}}){
           util.svg2uri(svg)
               .then(function(uri){
                 svg.remove();
                 div
                   .append("img")
                   .attr("src", uri);
               });
         }
     
       });
     })();
    </script>
  </head>
  <body>
    <div id="{{model_id}}"></div>
  </body>
</html>
