<html>
  <head>
    <script type="text/javascript">
     (function(){
       if(window["THREE"] === undefined || window["d3"] === undefined){
	 require.config({
	   paths:{
	     d3: [
	       'https://d3js.org/d3.v3.min',
	       'custom/d3.min'
	     ],
	     THREE: [
	       'https://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min',
	       'custom/three.min'
	     ],
         Elegans: [
           'https://cdn.rawgit.com/domitry/elegans/15e85b0dafdb6f09181c1ee2f0c47218f6fd698d/release/elegans.min',
	       'custom/elegans'
	     ]
	   },
	   shim:{
	     THREE: {
	       exports: 'THREE'
	     },
	     Elegans: {
	       deps: ['THREE'],
	       exports: 'Elegans'
	     }
	   }
	 });

	 require(["d3", "THREE"], function(d3){
	   window["d3"] = d3;

	   d3.select(document)
	     .on("contextmenu", function(){
	     d3.selectAll("canvas").style("z-index", 10);
	     d3.selectAll(".download_menu").style("z-index", 100);
	   });
	 });
       }

       require(["Elegans"], function(){
	 console.log("Begin rendering...");
	 var model = {{ model }};
	 // Elegans.Embed.parse("#"+{{model_id}},model).render();
	 var stage = Elegans.Embed.parse("#"+{{model_id}},model);
     stage.world.camera.position.set({{px}}, {{py}}, {{pz}});
     stage.world.camera.rotation.set({{rx}}, {{ry}}, {{rz}});
	 stage.render();
       });
     })();
    </script>
  </head>
  <body>
    <div id={{model_id}}></div>
  </body>
</html>
